<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>نی عنبر</title>
    <meta name="keywords" content="HTML5 Template" />
    <meta name="description" content="پرفیوم - قالب نهایی فروشگاه  آنلاین ">
    <meta name="author" content="M-dehghan marziye.dehghan8006@gmail.com">
    <link rel="icon" type="image/png" href="/static/images/icons/favicon.png">
    <link rel="stylesheet" type="text/css" href="/static/fonts/awesome/css/custom.css">
    <link href="/static/fonts/vazir/font-vazir.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/static/plugin/sticky-icon/stickyicon.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main-min.css">
</head>
<body>
    <div class="bg-loader">
        <div class="loader"></div>
    </div>
    <div class="page-wrapper">
        <main class="main rtl text-right">
            <div class="page-content">
                <section class="error-section d-flex flex-column justify-content-center align-items-center text-center pl-3 pr-3">
                    <h1 class="mb-2 ls-m">خطای دسترسی</h1>
                    <picture><source srcset="/static/images/subpages/404.webp" type="image/webp"><img loading="lazy" decoding="async" src="/static/images/subpages/404.png" alt="error 404" width="609" height="131"></picture>
                    <h4 class="mt-7 mb-0 ls-m">صفحه ای یافت نشد.</h4>
                    <p class="text-grey font-primary ls-m">
                        {{ message }}
                    </p>
                </section>
            </div>
        </main>
    <script defer src="/static/plugin/jquery/jquery.min.js"></script>
    <script defer src="/static/js/main.min.js"></script>
</body>
</html>