{% extends 'base.html' %}
{% load static %}

{% block title %}
	درباره ما
{% endblock %}

{% block title_og %}
	درباره ما
{% endblock %}

{% block page_keywords %}
    درباره ما, فروشگاه نی عنبر, عطر طبیعی, عطر اسلامی, عطر دست‌ساز, عطر ایرانی, عطر با کیفیت, رایحه اصیل, عطرهای نیش, برند نی عنبر, عطرهای لوکس, فروشگاه عطر آنلاین,
{% endblock %}

{% block page_description %}
    فروشگاه نی عنبر، پیشرو در عرضه عطرهای طبیعی و اسلامی با رایحه‌های اصیل و دست‌ساز. با ما در دنیای عطرها همراه شوید و داستان هر رایحه را کشف کنید.
{% endblock %}


{% block content %}
    <main class="main rtl text-right">
        <div class="page-header pl-4 pr-4">
            <h3 class="page-subtitle font-weight-bold">خوش آمدید به وبسایت ما</h3>
            <h1 class="page-title font-weight-bold lh-1 text-white">درباره ما</h1>
        </div>
        <nav class="breadcrumb-nav">
            <div class="container breadcrumb-nav-wrap">
                <ul class="breadcrumb ">
                    <li><a href="{% url 'main:index' %}"><i class="fa-light fa-house"></i></a></li>
                    <li>درباره ما</li>
                </ul>
            </div>
        </nav>
        <div class="page-content">
            {% if show_info %}
                <section class="about-section pb-10 appear-animate">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-12 ">
                                <div class="row">
                                    <div class="col-md-12 mb-4">
                                        <div class="counter text-center text-dark">
                                            <span class="count-to" data-fromvalue="0" data-tovalue="150"
                                                  data-duration="900" data-delimiter=",">0</span>
                                            <h5 class="count-title">انواع رایحه های مدرن و کلاسیک</h5>
                                            <p class="text-grey mb-0">
                                                در خدمت شما هستیم<br>
                                                وازاینکه ما را انتخاب کردید متشکریم .
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            {% endif %}
            {% for object in objects %}
                {% cycle True False as is_odd %}
                {% if is_odd %}
                    <section class="customer-section appear-animate">
                        <div class="container customer-wrap">
                            <div class="row align-items-center">
                                <div class="col-md-7 mb-4 ">
                                    <figure>
                                        <picture>
                                            <source srcset="{{ object.image.url }}" type="image/webp">
                                            <img loading="lazy" decoding="async" src="{{ object.image.url }}" alt="Happy Customer" width="580"  height="507" class="banner-radius" style="background-color: #BDD0DE;" />
                                        </picture>
                                    </figure>
                                </div>
                                <div class="col-md-5 mb-4  text-right">
                                    <div class="container-fluid title-right-wrap">
                                        <h2 class="title-right">{{ object.title }}</h2>
                                        <h5 class="title-info-right">
                                            <span></span>
                                            <picture><source srcset="/static/images/perfume/15.webp" type="image/webp"><img src="/static/images/perfume/15.webp"></picture>
                                            <span></span>
                                        </h5>
                                    </div>
                                    <p class="section-desc text-grey">
                                        {{ object.description }}
                                    </p>
                                    <a href="{% url 'shop:product-list' %}" class="btn btn-dark btn-link btn-underline ls-m">
                                        از فروشگاه ما دیدن کنید <i class="fa-light fa-angles-left"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% else %}
                    <section class="store-section pb-10 appear-animate">
                        <div class="container store-wrap">
                            <div class="row align-items-center ">
                                <div class="col-md-6 order-md-first mb-4 text-right">
                                    <div class="container-fluid title-right-wrap">
                                        <h2 class="title-right">چشم انداز ما</h2>
                                        <h5 class="title-info-right">
                                            <span></span>
                                            <picture><source srcset="/static/images/perfume/15.webp" type="image/webp"><img src="/static/images/perfume/15.png"></picture>
                                            <span></span>
                                        </h5>
                                    </div>
                                    <p class="section-desc text-grey">
                                        ما به عنوان یک فروشگاه پیشرو در زمینه صنعت عطر و ادکلن، به دنبال ترویج عطرسازی طبیعی و اسلامی هستیم. غیر از ایجاد عطرهای هارمونیک و طبیعی، بر آن هستیم که روایتی ناب از فرهنگ اسلامی و ایرانی را به تصویر بکشیم. ما عقیده داریم که عطر، گویای داستان‌های زندگی و احساسات است و هر رایحه‌ای می‌تواند خاطراتی خاص را زنده کند.
                                    </p>
                                    <a href="{% url 'main:index' %}" class="btn btn-dark btn-link btn-underline ls-m">
                                        از فروشگاه  ما دیدن کنید <i class="fa-light fa-angles-left"></i>
                                    </a>
                                </div>
                                <div class="col-md-6 mb-4 store-img">
                                    <figure>
                                        <picture>
                                            <source srcset="{% static 'images/custom/img2.jpg' %}" type="image/webp">
                                            <img loading="lazy" decoding="async" src="{% static 'images/custom/img2.jpg' %}" alt="Our Store" width="580" height="507" class="banner-radius" style="background-color: #DEE6E8;" />
                                        </picture>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %} 	
            {% endfor %}
        </div>
    </main>
{% endblock %}

{% block script %}
    <script defer src="{% static 'plugin/jquery.count-to/jquery-numerator.min.js' %}"></script>
{% endblock %}
